// font-family: 'Montserrat', sans-serif;
// font-family: 'Rozha One', serif;

$space-cadet: #24305e;
$dark-cornflower-blue: #374785;
$uranian-blue: #a8d0e6;
$light-coral: #f76c6c;
$green-yellow-crayola: #f8e9a1 ;


.greeting {
    color: white;
    font-family: 'Rozha One', serif;
    height: 900px;
    text-align: center;
    margin: 0;
}
.hi{
  font-size: 200pt;
}
.about{
  text-align: left;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  padding-left: 30px;
}