// font-family: 'Montserrat', sans-serif;
// font-family: 'Rozha One', serif;

$space-cadet: #24305e;
$dark-cornflower-blue: #374785;
$uranian-blue: #a8d0e6;
$light-coral: #f76c6c;
$green-yellow-crayola: #f8e9a1 ;


.greeting {
    background-color: #f76c6c;
    color: white;
    font-family: 'Rozha One', serif;
    font-weight: 700;
    font-style: italic;
    height: 500px;
    text-align: center;
    margin: 0;
}
ul {
  padding: 0;
}

#bioPage{
    display: flex;
    height: 32pt;
    color: white;
    background-color: #f8e9a1;
    font-family: 'Rozha One', serif;
    font-size: 20pt;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 auto;
    margin: 0 auto;
}