@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rozha+One&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Rozha One', serif;

$space-cadet: #24305e;
$dark-cornflower-blue: #374785;
$uranian-blue: #a8d0e6;
$light-coral: #f76c6c;
$green-yellow-crayola: #f8e9a1 ;


body{
   background-color: #f76c6c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f8e9a1' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2324305e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23cfecae' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23283466' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23adeac4' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232b396d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%239ae4d9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%232f3e75' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239adbe5' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2333427d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a8d0e6' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23374785' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.dropdown button{
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
.dropdown-menu{
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
.dropdown button:hover{
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
    color: $green-yellow-crayola;
}
.btn-secondary.dropdown-toggle:focus {
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.dropdown-menu a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.dropdown-menu a:hover{
    color: $green-yellow-crayola;
    font-weight: bold;
    background-color: #374785;
}

#navLinks {
    display: flex;
    color: white;
    padding: 0;
    margin: 0;
    float: right;
    position: fixed;
    right: 1.5%;
    top: 5%;
    font-family:'Montserrat', sans-serif;
    z-index: 10000;
}




// #technologiesPage {
//     background-color: #95adbe;
//     display: flex;
//     padding: 0;
//     margin: 0;
//     height: 300px;
//     color: #dff0ea;
//     font-family: 'Spartan', sans-serif;
//     font-size: 52pt;
//     flex-direction: column;
//     text-align: center;
// }
// #technologiesPage ul{
//     padding: 0;
//     margin: 0;
//     height: 300px;
// }
// #technologiesPage li {
//     margin: 15px 15px 15px 15px;
// }
// .tech-back{
//     font-family: 'Spartan', sans-serif;
//     font-weight: lighter;
//     font-size: 15pt;
    
// }
// .page-footer{
//     height: 155px;
//     font-family: 'Roboto Slab', serif;
//     background-color: #dff0ea;
//     color: #95adbe;
//     text-align: center;
// }
// .page-footer h4 {
//     margin: 0;
//     padding: 10px o 0px 0px;
//     font-size: 12pt;
// }
// .page-footer a {
//     padding: 10px 0px 10px 0px;
//     margin: 0;
//     color: #95adbe;
//     font-size: 15pt;
// }
// .page-footer a:hover{
//     font-weight: bolder;
//     color: #A6D0E4;
// }
// .page-footer h5 {
//     margin: 0;
//     padding: 20px o 10px 0px;
//     font-size: 10pt;
// }