@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rozha+One&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Rozha One', serif;

$space-cadet: #24305e;
$dark-cornflower-blue: #374785;
$uranian-blue: #a8d0e6;
$light-coral: #f76c6c;
$green-yellow-crayola: #f8e9a1 ;


body{
    background-color: #a8d0e6;
    padding: 0;
    margin: 0;
}
.dropdown button{
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
}
.dropdown-menu{
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
}
.dropdown button:hover{
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
    color: #a8d0e6;
}
.btn-secondary.dropdown-toggle:focus {
    background-color: $dark-cornflower-blue;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.dropdown-menu a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.dropdown-menu a:hover{
    color: #a8d0e6;
    font-weight: bold;
    background-color: #374785;
}

#navLinks {
    display: flex;
    color: white;
    padding: 0;
    margin: 0;
    float: right;
    position: fixed;
    right: 1.5%;
    top: 5%;
    font-family:'Montserrat', sans-serif;
    z-index: 10000;
}




// #technologiesPage {
//     background-color: #95adbe;
//     display: flex;
//     padding: 0;
//     margin: 0;
//     height: 300px;
//     color: #dff0ea;
//     font-family: 'Spartan', sans-serif;
//     font-size: 52pt;
//     flex-direction: column;
//     text-align: center;
// }
// #technologiesPage ul{
//     padding: 0;
//     margin: 0;
//     height: 300px;
// }
// #technologiesPage li {
//     margin: 15px 15px 15px 15px;
// }
// .tech-back{
//     font-family: 'Spartan', sans-serif;
//     font-weight: lighter;
//     font-size: 15pt;
    
// }
// .page-footer{
//     height: 155px;
//     font-family: 'Roboto Slab', serif;
//     background-color: #dff0ea;
//     color: #95adbe;
//     text-align: center;
// }
// .page-footer h4 {
//     margin: 0;
//     padding: 10px o 0px 0px;
//     font-size: 12pt;
// }
// .page-footer a {
//     padding: 10px 0px 10px 0px;
//     margin: 0;
//     color: #95adbe;
//     font-size: 15pt;
// }
// .page-footer a:hover{
//     font-weight: bolder;
//     color: #A6D0E4;
// }
// .page-footer h5 {
//     margin: 0;
//     padding: 20px o 10px 0px;
//     font-size: 10pt;
// }